# Node.js and React application

# Ignore node_modules in all folders
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Cache files
.cache/
.parcel-cache/